{% extends 'main.html' %} {% block content %} {{message}}
<h1>many many projects</h1>
<ul>
  {% for project in projects %}
  <li>Name {{project.title}}</li>
  <ul>
    Name {{project.description}}
  </ul>
  {% endfor %}
</ul>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti distinctio,
  nisi temporibus culpa pariatur labore dicta hic voluptates quisquam similique
  recusandae cupiditate excepturi nobis fugit laborum iste laudantium corporis
  asperiores.
</p>

{% endblock content %}
