{% extends 'main.html' %} {% block content %} {{message}}
<h1>many many projects</h1>
<ul>
  {% for project in projects %}
  <li>Name <a href="/project/single-{{project.id}}"></a>{{project.title}}</li>
  {% endfor %}
</ul>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti distinctio,
  nisi temporibus culpa pariatur labore dicta hic voluptates quisquam similique
  recusandae cupiditate excepturi nobis fugit laborum iste laudantium corporis
  asperiores.
</p>

{% endblock content %}
